
<div class="slider-wrapper">
    <div class="rotatescroll" id="rotatescroll">
        <div class="viewport">
            <ul class="overview">
                <li>
                    <img src="./images/newYork-mir.png" alt="newYork" />
                </li>
                <li>
                    <img src="./images/amsterdam-mir.png" alt="amsterdam" />
                </li>
                <li>
                    <img src="./images/paris-mir.png" alt="paris" />
                </li>
                <li>
                    <img src="./images/tokyo-mir.png" alt="tokyo" />
                </li>
                <li>
                    <img src="./images/vancouver-mir.png" alt="vancouver" />
                </li>
                <li>
                    <img src="./images/moscow-mir.png" alt="moscow" />
                </li>
                <li>
                    <img src="./images/seoul-mir.png" alt="seoul" />
                </li>
                <li>
                    <img src="./images/london-mir.png" alt="london" />
                </li>
            </ul>
        </div>
    <div class="dot"></div>
    <div class="overlay overlay-interaction" id="overlayInteraction"></div>
    <div class="overlay overlay-static"></div>
    <div class="overlay overlay-active" id="overlayActive"></div>
    <div class="thumb"></div>
    </div>
</div>
