<section id="designs" data-aos="fade-in-up"
data-aos-duration="500"
data-aos-easing="ease-in-out"
data-aos-once="false">
    <div class="toolbar mb2 mt2">
        <button class="btn fil-cat" data-rel="leather">Leather</button>
        <button class="btn fil-cat" data-rel="silk">Silk</button>
        <button class="btn fil-cat" data-rel="denim">Denim</button>
        <button class="btn fil-cat"  data-rel="all">All</button>
    </div>
    <div id="portfolio">
        <div class="tile scale-anm denim">
            <img src="./images/jacket-denim-me-back.jpg" alt=""/>
        </div>
        <div class="tile scale-anm denim">
            <img src="./images/denimNycFrontM.JPG" alt="" />
        </div>
        <div class="tile scale-anm denim">
            <img src="./images/jacket-denim-me-front.jpg" alt="" />
        </div>
        <div class="tile scale-anm denim">
            <img src="./images/jacket-denim-ty-side.jpg" alt="" />
        </div>
        <div class="tile scale-anm silk">
            <img src="./images/silk-almati-side-m.jpg" />
        </div>
        <div class="tile scale-anm silk">
            <img src="./images/silk-almati-front-m.JPG" alt="" />
        </div>
        <div class="tile scale-anm silk">
            <img src="./images/jacket-silk-ygul-house.jpg" alt="" />
        </div>
        <div class="tile scale-anm silk">
            <img src="./images/jacket-silk-ygul-headUp.jpg" alt="" />
        </div>
        <div class="tile scale-anm leather">
            <img src="./images/leather-paris-side-f2.jpg" alt="" />
        </div>
        <div class="tile scale-anm leather">
            <img src="./images/leather-paris-front.JPG" alt="" />
        </div>
        <div class="tile scale-anm leather">
            <img src="./images/hoodieNycFront.jpg" alt="" />
        </div>
        <div class="tile scale-anm leather">
            <img src="./images/leather-paris-back.JPG" alt="" />
        </div>
        <div class="tile scale-anm all">
            <img src="./images/longSleeveNycSide.jpg" alt="" />
        </div>
        <div class="tile scale-anm all">
            <img src="./images/denimNycFrontM.JPG" alt="" />
        </div>
        <div class="tile scale-anm all">
            <img src="./images/leather-paris-side-f2.jpg" alt="" />
        </div>
        <div class="tile scale-anm all">
            <img src="./images/denimNycBackF.jpg" alt="" />
        </div>
        <div class="tile scale-anm all">
            <img src="./images/wool-tokyo-front-m.JPG" alt="" />
        </div>
        <div class="tile scale-anm all snd">
            <img src="./images/silk-almati-front-f.JPG" alt="" />
        </div>
        <div class="tile scale-anm all snd">
            <img src="./images/longSleeveNycBack.jpg" alt="" />
        </div>
        <div class="tile scale-anm all snd">
            <img src="./images/hoodieLondonFront.jpg" alt="" />
        </div>
        <div class="tile scale-anm all snd">
            <img src="./images/scarfSilkNyc.jpg" alt="" />
        </div>
        <div class="tile scale-anm all snd">
            <img src="./images/coatLondonSide.jpg" alt="" />
     </div>
        <span id="showMore">more..</span>
    </div>
    <div style="clear:both;"></div>
</section>
