<section class="footer">
    <p>&copy;JUSTSAYDA</p>
        <ul>
            <li>
            <a href="https://www.instagram.com/da.clothing/"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
            <a href="mailto:info@justsayda.com?Subject=Hello%20again" target="_top"><i class="fa fa-envelope-open-o"></i></a>
            </li>
        </ul>
</section>
