
<section id="password-wrapper">
    <form action="forgot-password" method="POST" id="forgot-form">
        <section class="tag-lines"><span>Forgot password</span></section>
        <input
                placeholder="Enter your email address here when requesting a password reset"
                name="password_email"
                type="email" required/>
        <button id="passwordBtn">submit</button>
    </form>
</section>
