 <section id="bold" class="tag-lines"
             data-aos="fade-in-up"
             data-aos-duration="800"
             data-aos-easing="ease-in-out"
             >
        <span>Modern Art Turned Into Street Clothes</span>
        <img src="images/logo-purple-da.png">
</section>

    {{> intro-images}}
    {{> how-does-it-work}}
    {{> registration}}

