<section class="tag-lines" id="howWorks" data-aos="fade-in-up"
         data-aos-duration="800"
         data-aos-easing="ease-in-out"
         data-aos-once="false">

<span>How does it work?</span>
<img src="images/logo-purple-da.png" id="work-button">
</section>
<section id="pickDesign" class="pick" data-aos="fade-in-up"
data-aos-duration="800"
data-aos-easing="ease-in-out"
data-aos-once="false">
<section id="designsText" data-aos="fade-right" data-aos-once="false">
<h2><br>Pick Your Design!</h2>
<span>DA! is not just streetwear. It's our cities collection.
Each item in our collection represents a city and a piece of wearable art.
The designs are all prints based on hand painted portraits created by an artist to capture the unique style of each city.
</span>
</section>
<section id="designsExp">
<section>jacket<img src="images/jacket-small.png"></section>
<section>hoodie<img src="images/hoodie-clear.png"></section>
<section>scarf<img src="images/gray-baseball.png"></section>
</section>
</section>
<!--Fine Art Turned Into Clothes Lets You Wear Your Favorite Paintings-->
<section id="gallery-cities" class="pick" data-aos="fade-left" data-aos-once="false">
<div id="RepYourCity">
<h2><br>Pick Your Print!</h2>
<span><strong>DA!</strong> is not just streetwear. It's our cities collection.
Each item in our collection represents a city and a piece of wearable art.
The designs are all prints based on hand painted portraits created by an artist to capture the unique style of each city.
</span>
</div>
<div class="slider-wrapper">
<div class="rotatescroll" id="rotatescroll">
<div class="viewport">
<ul class="overview">
<li>
<img src="./images/newYork-mir.png" alt="newYork" />
</li>
<li>
<img src="./images/amsterdam-mir.png" alt="amsterdam" />
</li>
<li>
<img src="./images/paris-mir.png" alt="paris" />
</li>
<li>
<img src="./images/tokyo-mir.png" alt="tokyo" />
</li>
<li>
<img src="./images/vancouver-mir.png" alt="vancouver" />
</li>
<li>
<img src="./images/moscow-mir.png" alt="moscow" />
</li>
<li>
<img src="./images/seoul-mir.png" alt="seoul" />
</li>
<li>
<img src="./images/london-mir.png" alt="london" />
</li>
</ul>
</div>
<div class="dot"></div>
<div class="overlay overlay-interaction" id="overlayInteraction"></div>
<div class="overlay overlay-static"></div>
<div class="overlay overlay-active" id="overlayActive"></div>
<div class="thumb"></div>
</div>
</div>
</section>
<section id="pickFabric" class="pick" data-aos="fade-right" data-aos-once="false">
<section id="fabricText">
<h2><br>Pick Your Fabric!</h2>
<span>It's not just streetwear. It's our cities collection.
Each item in our collection represents a city and a piece of wearable art.
The designs are all prints based on hand painted portraits created by an artist to capture the unique style of each city.
</span>
</section>
<section id="fabricExp">
<section><span>silk</span><img src="images/silk.jpg"></section>
<section><span>denim</span><img src="images/denim.jpg"></section>
<section><span>leather</span><img src="images/leather.jpg"></section>
</section>
</section>

