<section id="insta" data-aos="fade-in-up"
         data-aos-duration="500"
         data-aos-easing="ease-in-out"
         data-aos-once="false">

        <img src="./images/insta/socrat.jpg">
        <img src="./images/insta/champ.jpg">
        <img src="./images/insta/ringo.jpg">
        <img src="./images/insta/dan.jpg">

</section>
