<section class="container-video">

    {{>nav }}

    <section id="bold"
    data-aos="fade-in-up"
    data-aos-duration="800"
    data-aos-easing="ease-in-out"
    >
        <span>Modern Art Turned Into Street Clothes</span>
    </section>

    <div id="begin">
        <a href="#" class="arrow down"></a>
    </div>

    <div class="video-foreground">
        <iframe id="myVideo" src="https://www.youtube.com/embed/nk3iTiSmG68?controls=0&showinfo=0&playlist=nk3iTiSmG68&autoplay=1&start=12&showinfo=0&amp&loop=1&controls=0&amp&mute=1&autohide=1"></iframe>
    </div>

</section>

