<section class="container-video">

    {{>nav }}



        <section id="bold">
            <span>Modern Art Turned Into Street Clothes</span>
            <div id="begin">
                <a href="about" class="arrow down"></a>
            </div>
        </section>


    <div class="video-foreground">
        <iframe id="myVideo" src="https://www.youtube.com/embed/nk3iTiSmG68?controls=0&showinfo=0&playlist=nk3iTiSmG68&autoplay=1&start=12&showinfo=0&amp&loop=1&controls=0&amp&mute=1&autohide=1"></iframe>
    </div>

</section>

