<nav>
        <div class="ent">
            <a href="/"><img src="images/logo-orange-da.png"></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn">MENU
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/about">about</a>
                <a href="/registration" id="top-login">shop</a>
                <a href="/contacts" id="top-login">contacts</a>
            </div>
        </div>
</nav>
