<nav>
        <div class="ent">
           <span>Just Say DA</span>
            <a href="/"><img src="images/only-lips.png"></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn">
                <i class="fa fa-navicon"></i>
            </button>
            <div class="dropdown-content">
                <a href="/">home</a>
                <a href="/about">about</a>
                <a href="/shop">shop</a>

                {{#if logout}}
                    <a href="/logout">Logout</a>
                {{/if}}

            </div>
        </div>
</nav>
