<nav>
        <div class="ent">
            <a href="/"><img src="images/logo-lips.JPG"></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn">
                <i class="fa fa-navicon"></i>
            </button>
            <div class="dropdown-content">
                <a href="/">home</a>
                <a href="/about">about</a>
                <a href="/registration">shop</a>
<!--                <a href="/{{login}}">{{login}}</a>-->
<!--                <a href="/contact">contacts</a>-->
            </div>
        </div>
</nav>
