<section class="container-video">
<nav>
<div class="ent">
<img src="images/logo-orange-da.png">
</div>
<div class="dropdown">
<button class="dropbtn">{{username}}
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-content">
<a href="#" id="top-login">shop</a>
<a href="#">contacts</a>
<a href="/logout">log out</a>
</div>
</div>
</nav>
<div id="begin">
<a href="#" class="arrow down"></a>
</div>
<div class="video-foreground">
<iframe id="myVideo" src="https://www.youtube.com/embed/nk3iTiSmG68?controls=0&showinfo=0&playlist=nk3iTiSmG68&autoplay=1&start=12&showinfo=0&amp&loop=1&controls=0&amp&mute=1&autohide=1"></iframe>
</div>
</section>
