<nav>
        <div class="ent">
            <a href="/"><span>DA</span></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn">
                <i class="fa fa-navicon"></i>
            </button>
            <div class="dropdown-content">
                <a href="/about">about</a>
                <a href="/registration" id="top-login">shop</a>
                <a href="/contacts" id="top-login">contacts</a>
            </div>
        </div>
</nav>
