<section id="paypal">
    <section id="paypal-image-section" class="paypal-section">
        <image id="changeImg" value="" src="images/jacket-leather-newYork.jpg"></image>
    </section>
    <section  class="paypal-section" id="description-section">
        <section id="item-description">
        <h1>About this product:</h1>
        <p>inspired by the original MA-1 flight jacket—but redesigned for your city streets. Rep your city!</p>
        <h2>Product details:</h2>
            <ul>
                <li>two pockets at waist;</li>
                <li>long sleeves, banded ribbed-knit cuffs;</li>
                <li>ribbed-knit stand collar, full zip front;</li>
            </ul>
        <section id="leather-description">
              <h3>Fabric details:</h3>
            <ul>
                <li>shell: vegan leather;</li>
                <li>lining: satin</li>
                <li>print: spandex</li>
            </ul>
        <h4>Care</h4>
            <ul>
                <li>dry cleaning;</li>
            </ul>
        </section>
        <section id="denim-description" class="fabric-description">
              <h3>Fabric details:</h3>
             <ul>
                <li>shell: heavy cotton;</li>
                <li>lining: organic cotton</li>
                <li>print: poplin ultra</li>
             </ul>
        <h4>Care</h4>
            <ul>
                <li>low temperature;</li>
            </ul>
        </section>
        <section id="silk-description" class="fabric-description">
            <h3>Fabric details:</h3>
            <ul>
             <li>shell: pure silk;</li>
            <li>lining: satin;</li>
            <li>print: satin;</li>
        </ul>
        <h4>Care</h4>
            <ul>
                <li>dry cleaning;</li>
                <li>hand wash(cold water)</li>
            </ul>
        </section> 
        </section>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypal-form">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="2Z4FZV4LN4HUA">
        <table>
        <tr><td><input type="hidden" name="on0" value="fabric">fabric</td></tr><tr><td>
        <select name="os0" id="changeFabric">
            <option value="leather">leather $169.00 USD</option>
            <option value="denim">denim $129.00 USD</option>
            <option value="silk">silk $149.00 USD</option>
        </select> </td></tr>
        <tr><td><input type="hidden" name="on1" value="print">print</td></tr><tr><td>
        <select name="os1" id="changePrint">
            <option value="newYork">New York </option>
            <option value="london">London </option>
            <option value="paris">Paris </option>
            <option value="tokyo">Tokyo </option>
            <option value="amsterdam">Amsterdam </option>
            <option value="moscow">Moscow </option>
            <option value="vancouver">Vancouver </option>
            <option value="seoul">Seoul </option>
        </select> </td></tr>
        </table>
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </section>
    
</section>