
<section id="myShop">
    <section class="tag-lines"><span>About this Product</span></section>
   <section id="shopWrapper">

        <section id="product">
            <img src="images/jacket-silk-newYork.png" id="productImg">
        </section>

       <section id="aboutProduct">
           <span>vghvgh hjbvyviubj jbuibuiboiun jbuboinjkl jklnionoin jnboinoinkl jbuioboinoinkj jnbuiobionin  jnbonoinknikn</span>
           <div id='product-component-902b29fe6df' class="showProduct"></div>
       </section>

    </section>

</section>
