
<section id="myShop">
    <section class="tag-lines"><span>About this Product</span></section>
   <section id="shopWrapper">
        <section id="aboutProduct">
            <div id='product-component-a6b7530f36c' class="showProduct"></div>
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </span>
        </section>
        <section id="product">
            <img src="images/jacket-silk-newYork.png" id="productImg">
        </section>
    </section>
</section>
