<section id="myShop">
    <section class="tag-lines"><span>About this Product</span></section>
   <section id="shopWrapper">
        <section id="product">
            <img src="images/jacket-silk-newYork.jpeg" id="productImg">
        </section>
       <section id="aboutProduct">
           <div class="showProduct">
               <p>design:<span id="show-design">bomber</span></p>
               <p>artwork:<span id="show-print">New York</span></p>
               <p>shell fabric:<span id="shell-fabric">silk</span></p>
               <p>fabric of the print:<span id="print-fabric">satin</span></p>
               <p>lining:<span id="lining">satin</span></p>
               <p>made in:<span id="made-in">New York, USA</span></p>
           </div>
           <div id='product-component-92fc0c152d1' class="shop-btn"></div>
       </section>
    </section>
</section>
<script src="shop.js"></script>
