<section id="myShop">

    <section class="tag-lines"><span>About this Product</span></section>

   <section id="shopWrapper">

        <section id="product">
            <img src="images/jacket-silk-newYork.jpg" id="productImg">
        </section>

       <section id="aboutProduct">
           <div id='product-component-92fc0c152d1'></div>
           <div class="showProduct">vghvgh hjbvyviubj jbuibuiboiun jbuboinjkl jklnionoin jnboinoinkl jbuioboinoinkj jnbuiobionin  jnbonoinknikn</div>
            <a href="./payment" id="buy-link"><button id="buy-btn">Buy now</button></a>
       </section>

    </section>

</section>

<script src="shop.js"></script>
