<form id="steps-form">
<!--Fine Art Turned Into Clothes Lets You Wear Your Favorite Paintings-->
    <section id="pickDesign" data-aos="fade-right" data-aos-once="false">
        <section id="designsExp">
            <select id="selectDesign" required>
                <option  selected disabled value="">select</option>
                <option value="jacket">jacket</option>
                <option value="hoodie">hodie</option>
            </select>
            <img src="images/jacket.jpg" id="design">
        </section>
        <section id="designsText">
            <h2 data-aos="fade-in-up" data-aos-once="false">Design!</h2>
            <span>Da Clothing is made in New York City!<br>
                Each item in our collection represents a city and a piece of wearable art. The designs are all prints based on hand painted portraits created by an artist to capture the unique style of each city.
            </span>
        </section>
    </section>
    <section id="pickFabric" class="pick" data-aos="fade-right" data-aos-once="false">
        <section id="fabricText">
            <h2 data-aos="fade-in-up" data-aos-once="false">Fabric!</h2>
            <span>Cheap Clothes Are Too Expensive: Buy Quality Instead. <br> Our quality is all about the fabric and the construction. When nice fabrics meet excellent construction, you get a garment that tends to last longer and age gracefully.
            </span>
        </section>
        <section id="fabricGal">
            <select id="selectFabric" required>
                <option  selected disabled value="">select</option>
                <option value="silk">silk</option>
                <option value="denim">denim</option>
                <option value="leather">leather</option>
            </select>
            <img src="images/silk.jpg" id="fabric">
        </section>
    </section>
    <section id="gallery-cities" class="pick" data-aos="fade-right" data-aos-once="false">
        <section class="print-gal" name="selectPrint">
            <select id="selectPrint" required>
                <option selected disabled value="">select</option>
                <option value="newYork">New York</option>
                <option value="london">London</option>
                <option value="paris">Paris</option>
                <option value="vancouver">Vancouver</option>
                <option value="seoul">Seoul</option>
                <option value="moscow">Moscow</option>
                <option value="amsterdam">Amsterdam</option>
                <option value="stockholm">Stockholm</option>
                <option value="almaty">Almaty</option>
                <option value="rome">Rome</option>
                <option value="dubai">Dubai</option>
                <option value="tokyo">Tokyo</option>
            </select>
            <img src="images/newYork-mir.jpg" id="print">
        </section>
        <section id="RepYourCity">
            <h2 data-aos="fade-in-up" data-aos-once="false">Artwork!</h2>
            <span><strong>DA!</strong> is not just streetwear. It's our cities collection.<br>Each item in our collection represents a city and a piece of wearable art. The designs are all prints based on hand painted portraits created by an artist to capture the unique style of each city.
            </span>
        </section>
    </section>
</form>
<!--<button type="button" id="buyButton">to see your result</button>-->
