<section id="howWorks" class="tag-lines"><span>How does it work?</span></section>

<form id="steps-form">

    <section id="pickDesign">
        <section id="designsText">
            <h2 data-aos="fade-in-up" data-aos-once="false">Design!</h2>
            <span>DA! is not just streetwear. It's our cities collection.
                Each item in our collection represents a city and a piece of wearable art.
                The designs are all prints based on hand painted portraits created by an artist to capture the unique style of each city.
            </span>
        </section>
        <section id="designsExp">
            <select id="selectDesign" required>
                <option value="jacket">jacket</option>
                <option value="hoodie">hodie</option>
            </select>
            <img src="images/jacket.png" id="design">
        </section>
    </section>

<!--Fine Art Turned Into Clothes Lets You Wear Your Favorite Paintings-->
    <section id="gallery-cities" class="pick">
        <section id="RepYourCity">
            <h2 data-aos="fade-left" data-aos-once="false">Artwork!</h2>
            <span><strong>DA!</strong> is not just streetwear. It's our cities collection.
                Each item in our collection represents a city and a piece of wearable art.
                The designs are all prints based on hand painted portraits created by an artist to capture the unique style of each city.
            </span>
        </section>
        <section class="print-gal">
            <select id="selectPrint" required>
                <option value="newYork">New York</option>
                <option value="london">London</option>
                <option value="paris">Paris</option>
                <option value="vancouver">Vancouver</option>
                <option value="seoul">Seoul</option>
                <option value="moscow">Moscow</option>
                <option value="amsterdam">Amsterdam</option>
                <option value="stockholm">Stockholm</option>
                <option value="almaty">Almaty</option>
                <option value="rome">Rome</option>
                <option value="dubai">Dubai</option>
                <option value="tokyo">Tokyo</option>
            </select>
            <img src="images/newYork-mir.png" id="print">
        </section>
    </section>

    <section id="pickFabric" class="pick">
        <section id="fabricText">
            <h2 data-aos="fade-right" data-aos-once="false">Fabric!</h2>
            <span>It's not just streetwear. It's our cities collection.
                Each item in our collection represents a city and a piece of wearable art.
                The designs are all prints based on hand painted portraits created by an artist to capture the unique style of each city.
            </span>
        </section>
        <section id="fabricGal">
            <select id="selectFabric" required>
                <option value="silk">silk</option>
                <option value="denim">denim</option>
                <option value="leather">leather</option>
            </select>
            <img src="images/silk.jpg" id="fabric">
        </section>
    </section>
</form>


<button type="button" id="buyButton">submit</button>




<!--
    <img src="images/silk.jpg" name="silk" >silk<br>
    <img src="images/denim.jpg" name="denim" >denim<br>
    <img src="images/leather.jpg" name="leather" >leather<br>
-->

<!--
<img src="images/newYork-mir.png">
<img src="images/amsterdam-mir.png">
<img src="images/vancouver-mir.png">
<img src="images/moscow-mir.png">
<img src="images/seoul-mir.png">
<img src="images/london-mir.png">
<img src="images/paris-mir.png">
<img src="images/stockholm-mir.png">
<img src="images/almaty-mir.png">
<img src="images/tokyo-mir.png">
<img src="images/rome-mir.png">
<img src="images/dubai-mir.png">
-->
