<section id="steps-form">
<!--Fine Art Turned Into Clothes Lets You Wear Your Favorite Paintings-->
    <section id="gallery-cities" class="pick" data-aos="fade-right" data-aos-once="false">
        <section class="print-gal" name="selectPrint">
            <select id="selectPrint" required>
                <option value="newYork">New York</option>
                <option value="london">London</option>
                <option value="paris">Paris</option>
                <option value="vancouver">Vancouver</option>
                <option value="seoul">Seoul</option>
                <option value="moscow">Moscow</option>
                <option value="amsterdam">Amsterdam</option>
                <option value="stockholm">Stockholm</option>
                <option value="almaty">Almaty</option>
                <option value="rome">Rome</option>
                <option value="dubai">Dubai</option>
                <option value="tokyo">Tokyo</option>
            </select>
            <img src="images/newYork-mir.jpg" id="print">
        </section>
        <section id="RepYourCity">
            <h2 data-aos="fade-in-up" data-aos-once="false"> Choose Artwork!</h2>
            <span>There are 12 artworks currently available: New York, London, Paris, Vancouver, Seoul, Moscow, Amsterdam, Stockholm, Almaty, Rome, Dubai, Tokyo. 
            </span>
        </section>
    </section>
    <section id="pickFabric" class="pick" data-aos="fade-right" data-aos-once="false">
        <section id="fabricText">
            <h2 data-aos="fade-in-up" data-aos-once="false">Choose Fabric!</h2>
            <span>There are 3 types of fabric currently available: vegan leather, denim, and silk. 
            </span>
        </section>
        <section id="fabricGal">
            <select id="selectFabric" required>
                <option value="leather">leather</option>
                <option value="silk">silk</option>
                <option value="denim">denim</option>
            </select>
            <img src="images/leather.jpg" id="fabric">
        </section>
    </section>
    <section id="pickDesign" data-aos="fade-right" data-aos-once="false">
        <section id="designsExp">
            <img src="images/jacket-leather-newYork.jpg" id="design">
            <button id="showChoice">see your choice</button>
        </section>
        <section id="designsText">
            <h2 data-aos="fade-in-up" data-aos-once="false">Place your order!</h2>
            <span>We ship internationally! Please contact our customer service for more information</span>
        </section>
    </section>
</section>
<!--<button type="button" id="buyButton">to see your result</button>-->
