<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#000000">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Architects+Daughter|Open+Sans|Rock+Salt" rel="stylesheet">
<!--        <link rel="manifest" href="%PUBLIC_URL%/manifest.json">-->
        <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/2.5.0/polaris.min.css" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link href="assets/css/styles.css" rel="stylesheet" type="text/css" />
        <title>{{title}}</title>
    </head>
    <body>
        <main id="homePage">

           {{{ body }}}

            {{> footer}}

        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="client.js"></script>      
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({
                duration: 1000,
            })
        </script>

    </body>
</html>


<!--<span>We design bold clothing for those who go against the grain to express themselves while we leave behind
the rule-bound world of age, race, and gender codes.
</span>-->








