<section data-aos="fade-out-right"
         data-aos-offset="300"
         data-aos-easing="ease-in-sine" data-aos-duration="1000">
    {{> nav}}
    <section class="tag-lines" id="da-span" style="margin: 0px;"><span>Just Say DA</span></section>
    {{> shop-slider}}
    <section class="tag-lines" style="background-color:#fe0116;" data-aos="fade-right" data-aos-once="false"><span>About Us</span></section>
    <section id="aboutUs">
           <p>
               It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
               Where does it come from?
           </p>
        {{> about-slider}}
    </section>
    <section class="tag-lines" style="background-color: #3A2E3C;"data-aos="fade-right" data-aos-once="true"><span>Examples of our work</span></section>
    {{> designs}}
    <section class="tag-lines" style="background-color: black;"data-aos="fade-right" data-aos-once="true"><span>Follow us <a href="https://instagram.com/da.clothing/" id="insta-link">@da.clothing</a></span></section>
    {{> insta}}
</section>
<!--<span>Fine Art Turned Into Clothes Lets You Wear Your Favorite Paintingss</span>-->
