<section data-aos="fade-out-right"
         data-aos-offset="300"
         data-aos-easing="ease-in-sine" data-aos-duration="1000">
    {{> nav}}
    <section class="tag-lines" id="da-span" style="margin: 0px;"><span>Just Say DA</span></section>
    {{> shop-slider}}
    <section class="tag-lines" style="background-color:#fe0116;" data-aos="fade-right" data-aos-once="false"><span>About Us</span></section>
    <section id="aboutUs">
           <p>
               Just Say DA is dedicated to producing high quality, hand made garments for modern urban life. We make design and make all of our clothing in New York City- no mass produced “fast fashion” made by exploited workers in terrible conditions. We only use high quality fabrics and pay close attention to the details to ensure that your clothes will look great for a long time.
                <br>
               Lower quality clothing needs to be replaced more often- so-called “affordable” brands are actually just cheaply made, attracting customers with low prices and mass produced flashy designs. They advertise “unique” styles, when in reality they are just marketing seasonal uniforms that will end up collecting dust in your wardrobe- if they don’t fall apart within a year.
                <br>
               Just Say DA was founded with a vision of creating high quality ‘wearable art’ for everyone regardless of race, gender, or any other label. This philosophy underlies our designs- each of our prints is inspired by major international cities and are created by real artists in NYC.
           </p>
        {{> about-slider}}
    </section>
    <section class="tag-lines" style="background-color: #3A2E3C;"data-aos="fade-right" data-aos-once="true"><span>Examples of our work</span></section>
    {{> designs}}

</section>

<!--<span>Fine Art Turned Into Clothes Lets You Wear Your Favorite Paintingss</span>-->
