{{> nav}}
<section id="msg-sent">
    <section class="tag-lines"><span style="color: white; font-size: 25px;">Your message has been successfully sent. <br> Thank you for contacting us.</span></section>
</section>
