{{> nav}}
<section id="msg-sent">
    <section class="tag-lines" style="background-color: white; height: 100vh;">
        <span style="color: black; font-size: 25px;">Your message has been successfully sent. <br> Thank you for contacting us.</span>
    </section>
</section>

