{{> nav}}
<section id="password-reset">

    <section class="tag-lines"><span>please enter a new password</span></section>

    <input placeholder="enter your new password" name="password_reset" required/>
    <input placeholder="confirm your password" name="confirm_reset" required/>

    <button id="resetBtn">submit</button>

</section>
