<section data-aos="fade-out-up"
         data-aos-offset="300"
         data-aos-easing="ease-in-sine" data-aos-duration="1000">
    {{> nav}}
    <section class="tag-lines"><span data-aos="fade-down"
                                     >Hey, {{username}}!</span></section>
    {{> steps}}
    {{> product}}
</section>
<script src="shop.js"></script>
