{{> nav}}

<section class="tag-lines"><span>Hey, {{username}}!</span></section>

{{> shop-slider}}
{{> steps}}

<section id="myShop">
    <img src="images/jacket-silk-newYork.png" id="productImg">
    <div id='product-component-a6b7530f36c' class="showProduct"></div>
</section>


<script src="shop.js"></script>
