<section data-aos="fade-out-up"
         data-aos-offset="300"
         data-aos-easing="ease-in-sine" data-aos-duration="500">

    {{> nav}}

    <section class="tag-lines" style="background-color: #3A2E3C;"><span data-aos="fade-right" style="color: white;">How it works</span></section>
    {{> steps}}

    <section class="tag-lines" style="margin:0;"><span data-aos="fade-right">Welcome to DA shop!</span></section>
    {{> product}}

    <section class="bg tag-lines" style="background-color: #3A2E3C;">
        <span data-aos="fade-right">We offer free domestic shipping and returns!</span>
    </section>

    <section class="tag-lines" style="margin-bottom: 0px"data-aos="fade-right"><span>Follow us <a href="https://instagram.com/da.clothing/" id="insta-link">@da.clothing</a></span></section>
    {{> insta}}

</section>
<script src="shop.js"></script>
