{{> nav}}
<section id="success-reset">
    <section class="tag-lines" class="tag-lines" style="background-color: white; height: 100vh;">
        <span style="color: black; font-size: 25px;">Your password has been reset successfully! <br>Please login now using your new password.</span>
    </section>
</section>

