{{> nav}}
<section id="success-reset">
    <section class="tag-lines"><span style="color: white; font-size: 25px;">Your password has been reset successfully! <br>Please login now using your new password.</span></section>
</section>

