@import url("https://fonts.googleapis.com/css?family=Akronim|Averia+Sans+Libre|Finger+Paint|Nosifer|Ramaraja|Sedgwick+Ave+Display");
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px; }

.container-video {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: inline-grid; }
  .container-video .video-foreground {
    position: relative;
    padding-bottom: 56.25%; }
    .container-video .video-foreground #myVideo {
      filter: brightness(21%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .container-video .ent {
    text-align: center;
    width: 80%;
    margin: 10% 10%;
    padding: 100px;
    height: auto;
    background-color: #ede3e338;
    position: absolute;
    border-radius: 0%;
    border: 15px ridge #E8E9EB; }
    .container-video .ent .title {
      @unclude h;
      letter-spacing: 3px;
      font-style: normal;
      font: bolder 70px "Akronim";
      color: #E8E9EB; }
    .container-video .ent .title:before {
      content: "DA";
      font-family: 'Nosifer', cursive;
      font-style: italic; }
    .container-video .ent .description {
      font: 200px 20px "Playfair Display";
      color: #E8E9EB;
      text-transform: lowercase; }

.tag-lines {
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  height: 300px;
  width: 100%;
  padding: 50px;
  position: relative;
  text-align: center;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: black; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .tag-lines {
      height: 500px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    .tag-lines {
      height: 350px;
      padding: 10px; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .tag-lines {
      height: 300px;
      padding: 1px; } }
  .tag-lines span {
    text-align: center;
    font: bolder 70px "Akronim";
    padding: 50px;
    color: #E8E9EB;
    font-size: 30px; }

.container-products {
  display: block;
  width: 100%; }
  .container-products .container-buy {
    padding: 20px;
    width: 60%;
    display: inline-block; }
    .container-products .container-buy .gallery {
      text-align: center;
      width: 50%;
      margin: 20px auto; }
      .container-products .container-buy .gallery img {
        border: 10px ridge #E8E9EB;
        width: 50%;
        -webkit-transition-duration: 1s;
        /*Webkit: animation duration*/
        -moz-transition-duration: 1s;
        /*Mozilla: animation duration*/
        -o-transition-duration: 1s;
        /*Opera: animation duration*/
        opacity: 0.6;
        /*initial opacity of the image*/
        z-index: 1;
        /*place non-hover images behind the hover image*/
        position: relative;
        /*solve the problem with z-index in Chrome*/ }
      .container-products .container-buy .gallery img:hover {
        -webkit-transform: scale(1.5);
        /*Webkit: increase size to 1.5x*/
        -moz-transform: scale(1.5);
        /*Mozilla: scaling*/
        -o-transform: scale(1.5);
        /*Opera: scaling*/
        box-shadow: 0px 0px 25px gray;
        /*CSS3 shadows: 25px fuzzy shadow around the entire image*/
        -webkit-box-shadow: 0px 0px 25px gray;
        /*Webkit: shadows*/
        -moz-box-shadow: 0px 0px 25px gray;
        /*Mozilla: shadows*/
        opacity: 1;
        /*default opacity*/
        z-index: 10;
        /*place hover image in front the non-hover images*/ }
  .container-products .tags-line {
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    height: 300px;
    width: 100%;
    padding: 50px;
    position: relative;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: center; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .container-products .tags-line {
        height: 500px; } }
    @media (min-width: 481px) and (max-width: 767px) {
      .container-products .tags-line {
        height: 350px;
        padding: 10px; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .container-products .tags-line {
        height: 300px;
        padding: 1px; } }
  .container-products .container-form {
    background-color: #DD132B;
    margin: 0;
    top: 50%;
    padding: 20px;
    width: 40%;
    display: inline-block;
    float: right; }
    .container-products .container-form form {
      height: 100%; }
      .container-products .container-form form label {
        color: #E8E9EB;
        text-align: center;
        font: 200px 20px "Playfair Display"; }
      .container-products .container-form form select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; }
      .container-products .container-form form input {
        width: 100%;
        background-color: #10D1B1;
        color: #E8E9EB;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer; }
      .container-products .container-form form input:hover {
        background-color: #E8E9EB;
        color: #DD132B; }

.container-form {
  background-color: #DD132B;
  margin: 0;
  top: 50%;
  padding: 20px;
  width: 40%;
  display: inline-block;
  float: right; }
  .container-form form label {
    display: block; }
  .container-form form input {
    display: block; }
  .container-form form button {
    display: block; }

footer {
  background-color: #10D1B1;
  color: #E8E9EB;
  width: 100%;
  height: 90px;
  display: block;
  position: relative;
  vertical-align: text-bottom; }
  footer nav {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translate(-50%);
    transform: translateY(-50%); }
    footer nav ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px; }
      footer nav ul li.last {
        margin: 0; }
      footer nav ul li a {
        padding: 5px;
        line-height: normal;
        cursor: pointer;
        text-decoration: none; }
        footer nav ul li a:hover {
          color: #DD132B; }

/*# sourceMappingURL=styles.css.map */
