* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300,900);
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Hi+Melody');

$sm: 480px;
$md: 768px;
$lg: 992px;

//colors
$white: #f0faf7;
$red: #EE523F;
$gray: #CAD2C5;
$darkGray: #3A2E3C;
$lightGray: #bbbdc9;

$shadow: 0 0 1px #303634,2px 1px 1px hsla(160, 6%, 20%,.5);

//fonts
$font-graf: bold 60px 'Sedgwick Ave Display';
$font-main: bold 70px 'Open Sans';
$font-med: bold 30px 'Hi Melody';
$font-small: 18px 'Open Sans';



//media
$desktop-width: 1024px;
$tablet-width: 768px;
$phone-width: 481px;
$smDev-width: 320px;

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin phone {
    @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin smDev {
    @media (max-width: #{$phone-width - 1px}){
        @content;
    }
}

@mixin arrow {
    border-color:transparent;
    border-style:solid;
    border-width:0 32px;
    display:block;
    height:0;
    opacity:0.4;
    text-indent:-9999px;
    transform-origin: 50% 50%;
    width:0;
}



@mixin pick {
    height: auto;
    padding: 100px;
    position: relative;
    width: 100%;
    display: block;
    background-color: $lightGray;
    text-align: center;
    @include tablet {
        padding: 60px;
    }
    @include phone {
        padding: 40px;
    }
    @include smDev {
        padding: 20px;
    }
}

@mixin exp {
    display: inline-flex;
    margin: 10%;
    width: 80%;
}

@mixin pickSpan {
    color: $darkGray;
    padding: 5px;
    @include smDev {
        font-size: 16px;
    }
}

@mixin h {
    font: $font-med;
    padding: 50px;
    font-size: 100px;
    color: $red;
    text-shadow: $shadow;
    @include tablet {
        font-size: 80px;
        padding: 30px;
    }
    @include phone {
        font-size: 60px;
        padding: 20px;
    }
    @include smDev {
        font-size: 45px;
        padding: 10px;
    }
}

@mixin p {
    font: $font-small;
    text-align: center;
}

@mixin a {
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
    color: $red;
    font: $font-med;
    text-align: center;
    border: 1px solid $darkGray;
    padding: 5px;
    margin: 2.5px;
    word-wrap: break-word;
    @include smDev {
        font-size: 12px;
    }
}

@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translate($e);
    transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transform: $e;
    -moz-transform: $e;
    transform: $e;
}

@mixin input {
    width: 100%;
    padding: 14px 20px;
    margin: 12px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@mixin select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

@mixin tag {
    background-color: $red;
    z-index: 2;
    position: relative;
    width: 100%;
    text-align: center;
    height: 400px;
    display: flex;
    border-bottom: 4px solid $darkGray;
    @include tablet {
        display: block;
        height: auto;
    }
    @include phone {
        display: block;
        height: auto;
    }
    @include smDev {
        display: block;
        height: auto;
    }
}

@mixin vert {
    right: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin transition {
    -moz-transition:    0.3s ease-in-out all;
    -o-transition:      0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
    transition:         0.3s ease-in-out all;
}

@mixin filter($filter) {
    -webkit-filter: $filter;
    -moz-filter: $filter;
    -o-filter: $filter;
}

@mixin button {
    padding: 3px 10px;
    color: $red;
    background-color: $white;
    border-radius: 4px;
    width: auto;
    margin: auto;
    display: block;
    font: $font-med;
    cursor: pointer;
}

@mixin dropbtn {
    font: $font-med;
    border: none;
    outline: none;
    color: $white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}



#homePage {
    background-color: $lightGray;

    .container-video {
        z-index: 1;
        width: 100%;
        height: 100%;
        display: inline-grid;
        background-color: rgba(223, 227, 232, 0.3);
        .video-foreground {
            position: relative;
            padding-bottom: 56.25%;
            #myVideo {
                filter: brightness(25%);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        nav {
            position: absolute;
            display: block;
            width: 100%;
            z-index: 1;
            .ent {
                float: left;
                display: inline-block;
                width: 50%;
                img {
                    width: 40%;
                    @include phone {
                        width: 70%;
                    }
                    @include smDev {
                        width: 100%;
                    }
                }
            }
            .dropdown {
                text-align: right;
                overflow: hidden;
                display: inline-block;
                width: 50%;
                font: $font-med;
                .dropbtn {
                    @include dropbtn;
                    i {
                        color: $red;
                    }
                }

                .dropdown-content {
                    display: none;
                    box-shadow: $shadow;
                    z-index: 1;
                    @include smDev {
                        width: 40%;
                    }
                    a {
                        @include a;
                        display: block;
                        background-color: $lightGray;
                        border-radius: 100%;
                    }
                    a:hover {
                        background-color: $white;
                    }

                }

            }
        }
        #begin {
            position: absolute;
            @include vert;
            width: 100%;
            padding: 50px;
            .arrow {
                @include arrow;
            }
            .down {
                margin-left: 50%;
                -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
                border-top: 30px solid $red;
            }
     }
    }

    @-webkit-keyframes downarrow {
        0% { -webkit-transform: translateY(0); opacity: 0.8 }
        100% { -webkit-transform: translateY(7px); opacity: 1 }
    }

    #bold {
        @include tag;
        top: 50% !important;
        span {
            margin: 3% 0% !important;

        }
        img {

        }

    }

    #introImages{
        width: 100%;
        position: relative;
        background-color: $darkGray;
        padding: 50px 0px;
        .section {
            height: 600px !important;
            @include tablet {
                height: 450px !important;
            }
            .left, .middle, .right {
                width:100%;
                display: block;
                color: $white;
                box-sizing: border-box;
                left: 0;
                padding: 30px;
                text-align:center;
                overflow:hidden;

                @include smDev {
                        z-index: 1;
                        overflow: visible;
                        position: absolute;
                        height: auto !important;
                }

                @include phone {
                    z-index: 1;
                    overflow: visible;
                    position: absolute;
                    height: auto !important;
                }

                @include transition;

                .content {

                }

                @media (min-width: $sm) {
                    width: 100%;
                    font-size:0.9em;
                    padding: 10px;
                    left: 0;
                    float: left;
                    position: absolute;
                }

                @media (min-width: $md) {
                    width: 33.33333%;
                    left: 33.33%;
                    padding: 10px;
                }

                @media (min-width: $lg) {
                    padding: 30px;
                    font-size: 1em;
                }
            }

            &.animate {
                .left {
                    left:0;
                    background-color: $lightGray;
                    color: $darkGray;
                    border: 4px solid $lightGray;
                    @media (max-width: $sm) {
                        left: 99%;
                    }

                    @media (min-width: $md) {
                        left:0;
                    }
                }

                .right {
                    left:0;
                    background-color: $red;
                    color: $darkGray;
                    border: 4px solid $red;
                    @media (max-width: $sm) {
                        left: 99%;
                    }

                    @media (min-width: $md) {
                        left:66.66%;
                    }
                }


            }

            .title {
                background: $darkGray;

                h2 {
                    margin-top:0;
                    font: $font-med;
                }

                p {
                    line-height:1.55em;
                    margin-bottom: 0.75em;
                    font: $font-small;
                    color: $white;
                }

                .btn-primary {
                    color: $white;
                    background: $darkGray;
                    padding: 10px;
                    text-decoration:none;
                    border-radius: 3px;
                    display:inline-block;
                    @include transition;

                    &:hover {
                        background: darken(tomato, 15%);
                    }

                }
            }

            .tiles {
                padding:0;
                clear:both;
                display:none;
                float:none;

                img {
                    width:50%;
                    float:left;
                    height:auto;
                    opacity: 0.7;
                    @include transition;
                    @include filter(grayscale(50%));

                    &:hover {
                        opacity:1;
                        @include filter(grayscale(0%));
                    }
                }

                @media (min-width: $md) {
                    display:block;
                }
            }

            .middle {
                background-image: linear-gradient(to left, $red , $darkGray);
                z-index: 1;
                padding:0;

                img {
                    width: 100%;
                    height: auto;
                    display:block;
                    position: relative;
                    overflow: visible;
                }
            }
        }

        @-webkit-keyframes bounce {
            0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
            40% {-webkit-transform: translateY(-20px);}
            60% {-webkit-transform: translateY(-10px);}
        }

        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
            40% {transform: translateY(-20px);}
            60% {transform: translateY(-10px);}
        }

    }


    .tag-lines {
        @include tag;
        span{
            @include h;
            color: $lightGray !important;
            width: 70%;
            margin: 7% 0%;
            @include tablet {
                width: 100%;
                display: block;
            }
            @include phone {
                width: 100%;
                display: block;
            }
            @include smDev {
                width: 100%;
                display: block;
                margin: 0%;
            }

        }

        button {
            z-index: 3;
            width: 30%;
            background-color: $lightGray;
            border-top: 4px solid $red;
            @include tablet {
                display: none;
            }
            @include phone {
                display: none;
            }
            @include smDev {
                display: none;
            }

        }

    }


    #gallery-cities{
        background-color: $darkGray;
        display: flex;
        position: relative;
        padding: 100px;
        height: auto;
        @include phone {
            display: block;
            width: 100%;
            padding: 20px;
        }
        @include smDev {
            display: block;
            width: 100%;
            padding: 10px;
        }
        #RepYourCity {
            padding: 0% 5%;
            @include phone {
                display: block;
                width: 100%;
                text-align: center;
                padding: 3%;
            }
            @include smDev {
                display: block;
                width: 100%;
                text-align: center;
                padding: 1%;
            }
            h2 {
                @include h;
                color: $red;
            }
            h2::before{
                content: "Step #2: ";
                color: $lightGray;
                font-size: 50px;
                @include phone {
                    font-size: 40px;
                }
                @include smDev {
                    font-size: 25px;
                }
            }
            span {
                @include p;
                color: $lightGray;
                padding: 5px;
                @include smDev {
                    font-size: 16px;
                }
            }
            span::before{
                content: "Rep your City! ";
                font: $font-med;
                color: $red;

            }
        }

        .slider-wrapper {
            float: right;
            width: 50%;
            @include tablet {
                display: block;
                float: none;
            }
            @include phone {
                display: block;
                float: none;
            }
            @include smDev {
                display: block;
                float: none;
            }
            .rotatescroll {
                position: relative;
                height: 390px;
                width: 390px;
                padding: 40px;
                overflow: hidden;
                @include tablet{
                    position: absolute;
                    left: 50%;
                    transform: translatex(-50%);
                }
                @include phone{
                    position: absolute;
                    left: 50%;
                    transform: translatex(-50%);
                }
                @include smDev{
                    position: absolute;
                    left: 50%;
                    transform: translatex(-50%);
                }

                .viewport {
                    position: relative;
                    margin: 0 auto;
                    overflow: hidden;
                    pointer-events: none;
                    .overview {
                        position: relative;
                        width: 798px;
                        list-style: none;
                        left: 0;
                        top: 0;
                        margin: -20px 0 0 -20px;
                        padding: 0;
                        z-index: 0;
                        li {
                            height: 342px;
                            width: 342px;
                            float: left;
                            position: relative;
                            padding: 15px;
                            margin: 40px 0;

                            img {
                                width: 100%;
                            }

                        }
                    }
                }
                .overlay {
                    pointer-events: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 390px;
                    width: 390px;
                    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 390 390'%3E%3Cg%3E%3Cpath fill='rgb(58, 46, 60)' d='M195,0H0v195C0,87.305,87.305,0,195,0z'/%3E%3Cpath fill='rgb(58, 46, 60)' d='M195,390h195V195C390,302.696,302.695,390,195,390z'/%3E%3Cpath fill='rgb(58, 46, 60)' d='M0,195v195h195C87.305,390,0,302.696,0,195z'/%3E%3Cpath fill='rgb(58, 46, 60)' d='M195,0c107.695,0,195,87.305,195,195V0H195z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='rgb(58, 46, 60)' d='M195,0C87.304,0,0,87.305,0,195s87.304,195,195,195c107.695,0,195-87.305,195-195S302.695,0,195,0z M195,345c-82.926,0-150-67.074-150-150c0-82.925,67.074-150,150-150c82.926,0,150,67.075,150,150C345,277.926,277.926,345,195,345 z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='rgb(58, 46, 60)' d='M195,3C88.919,3,3,88.92,3,195s85.919,192,192,192c106.08,0,192-85.92,192-192S301.08,3,195,3z M195,345 c-82.926,0-150-67.074-150-150c0-82.925,67.074-150,150-150c82.926,0,150,67.075,150,150C345,277.926,277.926,345,195,345z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='rgb(58, 46, 60)' d='M195,43c-84.003,0-152,67.998-152,152c0,84.002,67.997,152,152,152c84.002,0,152-67.998,152-152 C347,110.998,279.002,43,195,43z M195,345c-82.926,0-150-67.074-150-150c0-82.925,67.074-150,150-150c82.926,0,150,67.075,150,150 C345,277.926,277.926,345,195,345z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='rgb(58, 46, 60)' d='M137.375,56.438C155.096,49.08,174.598,45,195,45s39.697,4.018,57.417,11.375l16.792-40.458 C246.524,6.489,221.106,1,195,1c-26.107,0-51.759,5.447-74.443,14.875L137.375,56.438z'/%3E%3C/g%3E%3C/svg%3E") 0 0 no-repeat;
                }

                .overlay-interaction {
                    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 390 390'%3E%3Cg%3E%3Cpath fill='rgb(255, 255, 255)' d='M137.375,56.438C155.096,49.08,174.598,45,195,45s39.697,4.018,57.417,11.375l16.792-40.458 C246.524,6.489,221.106,1,195,1c-26.107,0-51.759,5.447-74.443,14.875L137.375,56.438z'/%3E%3C/g%3E%3C/svg%3E") 0 0 no-repeat;
                    z-index: 0;
                }

                .rotatescroll .slideno\(1\),
                .is-slide2-hovered {
                    transform: rotate(45deg);
                }
                .rotatescroll .slideno\(2\),
                .is-slide3-hovered {
                    transform: rotate(90deg);
                }
                .rotatescroll .slideno\(3\),
                .is-slide4-hovered {
                    transform: rotate(135deg);
                }
                .rotatescroll .slideno\(4\),
                .is-slide5-hovered {
                    transform: rotate(135deg);
                    transform: rotate(180deg);
                }
                .rotatescroll .slideno\(5\),
                .is-slide6-hovered {
                    transform: rotate(225deg);
                }
                .rotatescroll .slideno\(6\),
                .is-slide7-hovered {
                    transform: rotate(270deg);
                }
                .rotatescroll .slideno\(7\),
                .is-slide8-hovered {
                    transform: rotate(315deg);
                }

                .thumb {
                    touch-action: none;
                    -ms-touch-action: none;
                    position: absolute;
                    top: -3px;
                    cursor: pointer;
                    /* left: 137px; */
                    left: 200px;
                    width: 24px;
                    height: 24px;
                    z-index: 200;
                    background: $lightGray;
                    border: 2px solid $red;
                    border-radius: 50%;
                }

                .dot {
                    left: inherit !important;
                    top: 0 !important;
                    z-index: 100;
                    text-align: center;
                    overflow: hidden;
                    position: absolute;
                    /* top: 0; */

                    right: 0;
                    width: 50%;
                    height: 50%;
                    transform-origin: 0% 100%;
                }



                .dot:after {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 0;
                    border-left: 2px solid $red;
                    height: 42px;

                }

                .text {
                    padding-top: 20px;
                    color: $lightGray;

                }

                .flip.text {
                    padding-top: 30px;
                }

                .flip.text span {
                    top: 5px;

                }

                .active .flip.text span {
                    top: 18px !important;
                }

                .active h1 div.text {

                    color: $red;
                    padding: 20px;
                    height: 8px !important;
                    text-shadow: 0 0 0.3px $lightGray,0.7px 0.3px 0.3px hsla(160, 6%, 20%,.5);
                    font: $font-med;
                    font-size: 20px !important;
                    font-weight: 300 !important;
                }

                .active h1 div.text:hover {
                    color: $white;
                    text-shadow: none;
                }

                h1 span {
                    line-height: 0.65;
                    white-space: pre;
                    overflow: visible;
                    padding: 0px;
                }

                .flip {
                    transform: rotate(180deg)
                }

                .active {}

                .dot h1 {
                    position: absolute;
                    left: -100%;
                    width: 200%;
                    height: 200%;
                    transform: skewY(45deg) rotate(22.5deg);
                    margin: 0;
                    cursor: pointer;
                    text-align: center;
                    font-size: 12px;
                    line-height: 0;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .dot-1 {
                    transform: rotate(337.5deg) skewY(-45deg);
                }

                .dot-2 {
                    transform: rotate(22.5deg) skewY(-45deg);
                }

                .dot-3 {
                    transform: rotate(67.5deg) skewY(-45deg);
                }

                .dot-4 {
                    transform: rotate(112.5deg) skewY(-45deg);
                }

                .dot-5 {
                    transform: rotate(157.5deg) skewY(-45deg);
                }

                .dot-6 {
                    transform: rotate(202.5deg) skewY(-45deg);
                }

                .dot-7 {
                    transform: rotate(247.5deg) skewY(-45deg);
                }

                .dot-8 {
                    transform: rotate(292.5deg) skewY(-45deg);
                }


            }
            .rotatescroll [class*="-hovered"] {
                z-index: 1;
            }
        }
    }

    #pickDesign {
        @include pick;

        #designsExp{
            @include exp;

            section {
                width: 33%;
                font: $font-med;
                img {
                    width: 100%;
                }
            }
        }
        #designsText{
            h2{
                @include h;
                text-align: center;
            }
            h2::before{
                content: "Step #1: ";
                color: $darkGray;
                font-size: 50px;
                @include phone {
                    font-size: 40px;
                }
                @include smDev {
                    font-size: 25px;
                }

            }
            span {
                @include pickSpan;
                @include p;
            }
            span::before{
                content: "Rep your City! ";
                font: $font-med;
                color: $red;

            }
        }
    }

    #pickFabric {
        @include pick;
        #fabricExp{
            @include exp;
            section {
                width: 33%;
                span{
                    text-align: center;
                    font: $font-med;
                    display: block;
                    @include phone {
                        font-size: 20px;
                    }
                    @include smDev {
                        font-size: 15px;
                    }
                }

                img {
                    width: 80%;
                    border-radius: 100%;
                }
            }
        }
        #fabricText{
            h2{
                @include h;
                text-align: center;
            }
            h2::before{
                content: "Step #3: ";
                color: $darkGray;
                font-size: 50px;
                @include phone {
                    font-size: 40px;
                }
                @include smDev {
                    font-size: 25px;
                }

            }
            span {
                @include pickSpan;
                @include p;
            }
            span::before{
                content: "Rep your City! ";
                font: $font-med;
                color: $red;

            }
        }
    }

    #designs {
        background-color: $darkGray;
        padding: 100px 0px;
        @include phone {
            padding: 70px 10px;
        }
        @include smDev {
            padding: 50px 5px;
        }
        #portfolio {
            margin: 0% 5%;
            width: 90%;
            -webkit-column-count: 5;
            -moz-column-count: 5;
            column-count: 5;
            -webkit-column-gap: 5px;
            -moz-column-gap: 5px;
            column-gap: 5px;
            -webkit-column-width: 20%;
            -moz-column-width: 20%;
            column-width: 20%;
            .snd {
                display: none;
            }
            .tile {
                -webkit-transform: scale(0);
                transform: scale(0);
                -webkit-transition: all 150ms ease;
                transition: all 150ms ease;
                transition: transform .5s;
                img {
                    width: 100%;
                    height: auto;
                    margin: 1px;
                    padding: 5px;
                    border: 3px double $lightGray;
                    @include phone {
                        padding: 3px;
                        border: 2px double $lightGray;
                    }
                    @include smDev {
                        padding: 1px;
                        border: 1px double $lightGray;
                    }
                }


            }

            #showMore {
                color: $white;
                font: $font-med;
                @include phone {
                    font-size: 25px;
                }
                @include smDev {
                    font-size: 20px;
                }
            }

            .scale-anm {
                transform: scale(1);
            }


            p {
                padding:20px;
                border-bottom: 1px $red dotted;
                text-decoration: none;
                font-family: lato;
                text-transform:uppercase;
                font-size: 12px;
                color: $red;
                display:block;
                float:left;
            }

            p:hover {
                cursor:pointer;
                background: $darkGray;
                color: $white;
            }

        }

        .btn {
            font-size: 25px;
            font-weight: normal;
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            line-height: normal;
            padding: 15px 20px;
            margin: 5px;
            height: auto;
            vertical-align: middle;
            -webkit-appearance: none;
            color: $red;
            font: $font-med;
            background-color: rgba(0, 0, 0, 0);
            @include phone {
                padding: 10px;
            }
            @include smDev {
                padding: 5px;
                font-size: 20px;
            }
        }

        .btn:hover {
            text-decoration: none;
        }

        .btn:focus {
            outline: none;
            border-color: var(--darken-2);
            box-shadow: 0 0 0 3px var(--darken-3);
        }

        ::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

    }

    #tag-reg {
        background-color: $lightGray;
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        vertical-align: middle;
        border-top: 2px solid $white;
        border-bottom: 2px solid $red;
        span{
            width: 30%;
            @include smDev {
                width: 1%;
            }
            img {
                width: 100%;
                @include smDev {
                    display: none;
                }
            }

        }

        #registration-wrap {
                width: 60%;
                height: auto;
                padding: 20px;
                margin: auto;
                background-color: $lightGray;
                @include smDev {
                width: 100%
            }
                #reg-tabs {
                    display: flex;
                    width: 100%;
                    margin: auto;

                    span {
                        background-color: $darkGray;
                        color: $lightGray;
                        width: 50%;
                        padding: 20px;
                        font: $font-med;
                        cursor: pointer;
                    }

                    .active {
                        background-color: $white;
                        color: $red;
                        font: $font-med;
                        padding: 20px;
                        border-radius: 4px;
                        cursor: none;
                    }
                }
                #signUp-form {

                    input {
                        @include input;
                        background-color: $white;
                    }
                    input::placeholder{
                        color: $lightGray;
                    }
                    input:hover {
                        background-color: $darkGray;
                    }
                    button {
                        @include button;
                    }

                    button:hover {
                        background-color: $lightGray;
                        color: $red;
                    }
                }
                #signIn-form {
                    display: none;
                    input {
                        @include input;
                        background-color: $white;

                    }
                    input::placeholder{
                        color: $lightGray;
                    }
                    input:hover {
                        background-color: $lightGray;
                    }

                    span {
                        font-size: 12px;
                        input {
                            width: auto;
                        }
                    }

                    button {
                        @include button;
                    }

                    button:hover {
                        background-color: $lightGray;
                        color: $red;
                    }
                }
            }
       }

}




///shop


#shop {
    background-color: $lightGray;
    h1 {
        @include h;
    }
    #collection-component-e17f8e09b08{
        display: block;
    }
}


//footer

#footer {
    background-color: $white;
    color: $lightGray;
    width: 100%;
    display: block;
    position: relative;
    vertical-align: text-bottom;
    font: $font-med;
    padding-top: 10px;

    nav {
        width: 50%;
        display: inline-block;
        position: absolute;
        text-align: right;

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;

            &.last {
                margin: 0;
            }

            a {
                @include a;
                border: none !important;
                i {
                    font-size: 20px;
                    padding: 0px 1px;
                    color: $lightGray;
                }
            }
            &:hover {
                color: $red;
            }
        }
    }
    p {
        width: 50%;
        display: inline-block;
        text-align: left;
        @include smDev {
            font-size: 16px;
        }
    }
}

