* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300,900);

$sm: 480px;
$md: 768px;
$lg: 992px;

//colors
$white: #f0faf7;
$red: #e40004;
$green: #10D1B1;
$army-green: #303634;
$blue: #4749C1;
$navy: #00203F;
$gray: #CAD2C5;

$shadow: 0 0 1px #303634,2px 1px 1px hsla(160, 6%, 20%,.5);

//fonts
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Akronim|Averia+Sans+Libre|Finger+Paint|Nosifer|Ramaraja|Sedgwick+Ave+Display');
$font-main: bold 70px 'Open Sans';
$font-med: bold 30px 'Playfair Display';
$font-small: 200px 20px 'Playfair Display';

//media
$desktop-width: 1024px;
$tablet-width: 768px;
$phone-width: 481px;
$smDev-width: 320px;

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin phone {
    @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin smDev {
    @media (min-width: #{$smDev-width}) and (max-width: #{$phone-width - 1px}) {
        @content;
    }
}


@mixin btw {
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    width: 100%;
    padding: 50px;
    position: relative;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    @include tablet {
        height: 500px;
    }
    @include phone {
        height: 350px;
        padding: 10px;
    }
    @include smDev {
        height: 300px;
        padding: 1px;
    }
}



@mixin center {
    align-content: center;
    justify-content: center;
}

@mixin h {
    text-align: right;
    font: $font-main;
    padding: 50px;
}

@mixin p {
    font: $font-small;
    text-align: center;
    padding: 20px;
}

@mixin a {
    padding: 5px;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
}

@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translate($e);
        transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transform: $e;
    -moz-transform: $e;
    transform: $e;
}

@mixin input {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@mixin select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin transition {
    -moz-transition:    0.3s ease-in-out all;
    -o-transition:      0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
    transition:         0.3s ease-in-out all;
}

@mixin filter($filter) {
    -webkit-filter: $filter;
    -moz-filter: $filter;
    -o-filter: $filter;
}



.container-video {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: inline-grid;
    .video-foreground {
        position: relative;
        padding-bottom: 56.25%;
        #myVideo {
            filter: brightness(21%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .ent {
        text-align: center;
        width: 90%;
        margin: 5% 5%;
        height: auto;
        background-color: #ede3e338;
        position: absolute;
        border-radius: 0%;
        .title {
            @include h;
            letter-spacing: 3px;
            font-style: normal;
            font-size: 400px;
            color: $white;
            font-family: 'Cabin Sketch', cursive;
        }

    }

}






#bold {
    display: block;
    width: 95%;
    height: 400px;
    background-color: black;
    @include btw;
    span {
        font: $font-med;
        width: 80%;
        margin: 10% 10%;
        color: $white;
        text-align: center;
        display: block;
    }
}



#introImages{
    width: 100%;
    position: relative;
    background-color: black;
    padding: 50px 0px;
.section {
    height: 600px !important;

    .left, .middle, .right {
        width:100%;
        display: block;
        color: $white;
        box-sizing: border-box;
        left: 0;
        padding: 30px;
        text-align:center;
        overflow:hidden;

        @include transition;

        .content {
            @media (min-width: $sm) {
                @include vertical-align();
            }
        }

        @media (min-width: $sm) {
            width: 100%;
            font-size:0.9em;
            padding: 10px;
            left: 0;
            float: left;
            position: absolute;
        }

        @media (min-width: $md) {
            width: 33.33333%;
            left: 33.33%;
            padding: 10px;
        }

        @media (min-width: $lg) {
            padding: 30px;
            font-size: 1em;
        }
    }

    &.animate {
        .left {
            left:0;

            @media (min-width: $sm) {
                left: 50%;
            }

            @media (min-width: $md) {
                left:0;
            }
        }

        .right {
            left:0;

            @media (min-width: $sm) {
                left: 50%;
            }

            @media (min-width: $md) {
                left:66.66%;
            }
        }


    }

    .title {
        background: black;

        h2 {
            margin-top:0;
        }

        p {
            line-height:1.55em;
            margin-bottom: 0.75em;
        }

        .btn-primary {
            color: $white;
            background: darken(purple, 80%);
            padding: 10px;
            text-decoration:none;
            border-radius: 3px;
            display:inline-block;
            @include transition;

            &:hover {
                background: darken(tomato, 15%);
            }

        }
    }

    .tiles {
        padding:0;
        clear:both;
        display:none;
        float:none;

        img {
            width:50%;
            float:left;
            height:auto;
            opacity: 0.7;
            @include transition;
            @include filter(grayscale(100%));


            &:hover {
                opacity:1;
                @include filter(grayscale(0%));
            }
        }

        @media (min-width: $md) {
            display:block;
        }
    }

    .middle {
        background: black;
        z-index: 1;
        padding:0;

        img {
            padding: 5px;
            width: 100%;
            height: auto;
            display:block;
            position: relative;
            overflow: visible;
        }
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-20px);}
    60% {-webkit-transform: translateY(-10px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
}

}




.tag-lines {
    z-index: 2;
    display: flex;
    position: relative;
    width: 100%;
    background-image: url(../../images/paint-red.png);
    background-size: 60%;
    background-color: black;
        span{
            @include h;
            background-color: $white;
            color: $red;
            width: 100%;
            font-size: 30px;
            margin: 12% 0%;
        }

}

#designs {
    padding: 30px 0px;
        #portfolio {
            margin: 0% 5%;
            width: 90%;
            -webkit-column-count: 5;
            -moz-column-count: 5;
            column-count: 5;
            -webkit-column-gap: 5px;
            -moz-column-gap: 5px;
            column-gap: 5px;
            -webkit-column-width: 20%;
            -moz-column-width: 20%;
            column-width: 20%;

        .tile {
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all 150ms ease;
            transition: all 150ms ease;
            transition: transform .5s;
                img {
                    width: 100%;
                    height: auto;
                    margin: 10px;
                    padding: 5px;
            }


        }
        .tile:hover {

                -ms-transform: scale(2.5); /* IE 9 */
                -webkit-transform: scale(2.5); /* Safari 3-8 */
                transform: scale(2.5);
                display: block;
                width: 100%;

        }

        .scale-anm {
            transform: scale(1);
        }


        p {
            padding:10px;
            border-bottom: 1px #ccc dotted;
            text-decoration: none;
            font-family: lato;
            text-transform:uppercase;
            font-size: 12px;
            color: #333;
            display:block;
            float:left;
        }

        p:hover {
            cursor:pointer;
            background: #333;
            color:#eee; }

    }

        .btn {
            font-size: 25px;
            font-weight: normal;
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            line-height: normal;
            padding: 15px 20px;
            margin: 5px;
            height: auto;
            vertical-align: middle;
            -webkit-appearance: none;
            color: $red;
            background-color: rgba(0, 0, 0, 0);
        }

        .btn:hover {
            text-decoration: none;
        }

        .btn:focus {
            outline: none;
            border-color: var(--darken-2);
            box-shadow: 0 0 0 3px var(--darken-3);
        }

        ::-moz-focus-inner {
            border: 0;
            padding: 0;
        }
}
    //form
#registration {
    display: inline-flex;
    width: 100%;
    padding: 50px 0px;
    background-color: $red;
    #signUp-form {
        width: 50%;
        padding: 100px;
        p {
            @include p;
            color: $white;
        }
        input {
            @include input;
        }
        input:hover {
            background-color: $white;
            color: $red;
        }
    }
    #signIn-form {
        width: 50%;
        padding: 100px;
        p {
            @include p;
            color: $white;
        }
        input {
            @include input;
        }
        input::placeholder{

        }
        input:hover {
            background-color: $white;
            color: $red;
        }
    }

}

    f#ooter {
        background-color: $white;
        color: $red;
        width: 100%;
        height: 90px;
        display: block;
        position: relative;
        vertical-align: text-bottom;

    nav {
        position: absolute;
        top: 50%;
        right: 50%;
        @include translateY(-50%);

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;

            &.last {
                margin: 0;
            }

            a {
                @include a;
                i {
                    padding: 5px;
                    color: $red;
                }
            }
            &:hover {
                color: $red;
            }
        }
    }

}

